/*! The MIT License. Copyright 2026 Nobuo Nakayama (Shimotsuki/nov-jp). */
/**
 * https://www.w3.org/TR/css-fonts-4/
 * https://www.w3.org/TR/css-inline-3/
 * https://www.w3.org/TR/css-text-4/
 * https://www.w3.org/TR/css-text-decor-4/
 * https://www.w3.org/TR/SVG2/painting.html#PaintOrder
 * https://compat.spec.whatwg.org/#the-webkit-text-stroke
 */
:not(_):not(_):where([style*="--font-size--:"], [style*="--font-style--:"], [style*="--font-weight--:"], [style*="--text-decoration--:"], [style*="--text-emphasis--:"], [style*="--text-shadow--:"], [style*="--text-stroke--:"], [style*="--x-text-marker--:"]) {
	background: none;
	color: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: none;
}
[style*="--font-family--:"] {
	font-family: var(--font-family--);
}
[style*="--font-size--:"] {
	font-size: var(--font-size--);
}
[style*="--font-style--:"] {
	font-style: var(--font-style--);
}
[style*="--font-weight--:"] {
	font-weight: var(--font-weight--);
}
[style*="--text-align--:"] {
	text-align: var(--text-align--);
}
[style*="--text-decoration--:"] {
	text-decoration: var(--text-decoration--);
}
[style*="--text-emphasis--:"] {
	text-emphasis: var(--text-emphasis--);
}
[style*="--text-shadow--:"] {
	text-shadow: var(--text-shadow--);
}
[style*="--text-stroke--:"] {
	paint-order: stroke;
	-webkit-text-stroke: var(--text-stroke--);
	text-stroke: var(--text-stroke--);
}
[style*="--text-wrap--:"] {
	text-wrap: var(--text-wrap--);
}
[style*="--vertical-align--:"] {
	vertical-align: var(--vertical-align--);
}
[style*="--white-space--:"] {
	white-space: var(--white-space--);
}
[style*="--x-text-marker--:"] {
	text-decoration: underline 50% var(--x-text-marker--);
	text-decoration-skip-ink: none;
	text-underline-offset: -50%;
	text-underline-position: under;
}
